<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados do Funcionário</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        table {
            width: 80%;
            border-collapse: collapse;
            margin-top: .5rem;
        }

        th,
        td {
            text-align: left;
            padding: 8px;
            border: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        .h2 {
            margin-top: 4rem;
        }
    </style>
</head>

<body>
    <h2>Dados do Funcionário</h2>

    <table>
        <tr>
            <th>Campo</th>
            <th>Valor</th>
        </tr>
        <tr>
            <td>Nome Completo</td>
            <td>{{ funcionario.nome_completo }}</td>
        </tr>
        <tr>
            <td>RG</td>
            <td>{{ funcionario.rg }}</td>
        </tr>
        <tr>
            <td>CPF</td>
            <td>{{ funcionario.cpf }}</td>
        </tr>
        <!-- Adicione os outros campos do funcionário conforme necessário -->
        <tr>
            <td>Protocolo</td>
            <td>{{ funcionario.protocolo }}</td>
        </tr>
    </table>

    <h3>Patrimônios do Funcionário</h3>
    <table>
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            {% for patrimonio in funcionario.patrimonios %}
            <tr>
                <td>{{ patrimonio.descricao }}</td>
                <td>R$ {{ patrimonio.valor }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2 class="h2">Cônjuge</h2>
    <table>
        {% if funcionario.conjuges %}
        <tr>
            <th>Nome</th>
            <td>{{ funcionario.conjuges.nome }}</td>
        </tr>
        <tr>
            <th>RG</th>
            <td>{{ funcionario.conjuges.rg }}</td>
        </tr>
        {% else %}
        <tr>
            <th>Nome</th>
            <th>RG</th>
        </tr>
        {% endif %}
    </table>

    <h3>Patrimônios do Cônjuge</h3>
    <table>
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            {% for patrimonio in funcionario.conjuges.patrimonios %}
            <tr>
                <td>{{ patrimonio.descricao }}</td>
                <td>R$ {{ patrimonio.valor }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2 class="h2">Dependentes</h2>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>RG</th>
            </tr>
        </thead>
        <tbody>
            {% for dependente in funcionario.dependentes %}
            <tr>
                <td>{{ dependente.nome }}</td>
                <td>{{ dependente.rg }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Patrimônios dos Dependentes</h3>
    <table>
        <thead>
            <tr>
                <th>Nome do Dependente</th>
                <th>Descrição do Patrimônio</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            {% for dependente in funcionario.dependentes %}
            {% for patrimonio in dependente.patrimonios %}
            <tr>
                <td>{{ dependente.nome }}</td>
                <td>{{ patrimonio.descricao }}</td>
                <td>R$ {{ patrimonio.valor }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</body>

</html>